head{

}

body{
  margin: 0;
}

#headerBanner{
height: 50px;
background-color:#e8e8e8 ;
border-bottom: 1px solid;
border-bottom-color:#989898 ;
}

#headerBanner p {
   color:#000;
    font-family: 'Merriweather', serif;
    font-size:2em;
    width:80%;
    margin: 0 auto;
}

p{
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0px;
}

h4 {
color: #5e5e5e !important;
}

input{
  border:1px solid #2a2e31;
  	color: ##6a6a6a;
    margin-top: 5px;
    border-radius: 5px;
    width: 200px;
}

#searchTerm{
  width: 300px;
}

button{
  border-radius: 5px;

}

.img-wrapper {
  float: left;
}

.span-wrapper{
  padding-top: 20px;
  float: left;
  width: 80%;
}

.content-wrap{
  display: inline-block;
}

.image-cover {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  margin: 20px;

  object-fit: cover;
  object-position: center right;
}

.list-group-item{
  display: inline;
}

.no-padding{
padding: 0 !important;
}

.container{
  font-family: 'Merriweather', serif;
  margin-top: 10px;
  margin-left: 10px;
		}

		ul.tabs{
			margin: 0px;
			padding: 0px;
			list-style: none;
		}
		ul.tabs li{
			background: none;
			color: #222;
			display: inline-block;
			padding: 10px 15px;
			cursor: pointer;
		}

		ul.tabs li.current{
			background: #ededed;
			color: #222;
		}

		.tab-content{
			display: none;
			background: #ededed;
		}

		.tab-content.current{
			display: inherit;
		}
